<!doctype html>
<html ng-app="music">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
</head>

<style>
  body {
    background-image: url('https://media.giphy.com/media/3oz8xWbLkqdlJf7qQE/giphy.gif');
    background-size: cover;
  }

  h1 {
    color: black;
  }

  h1 {
    text-align: center;
  }

  p {
    color: red;
  }
</style>

<body ng-controller="ArtistSearch">

  <h1>{{message}}</h1>
  <br>
  <br>

  <div> {{error}} </div>
  <div>
    <h2> Artist : {{artist1.name}} </h2>
    <h2> {{artist1.url}} </h2>

  </div>

  <form name="userform">
    <input type="search" placeholder="Search music artist name" ng-model="artist" value="abc" />
    <input type="submit" value="search" ng-click="search(artist)" />
    <br>
    <br>
    <br>
    <input type="radio" ng-model="artist2" value="topAlbums">Album
    <input type="radio" ng-model="artist2" value="topTracks">Artist
    <input type="radio" ng-model="artist2" value="Info">Artist Info
    <input type="radio" ng-model="artist2" value="similarArtist">Similar Artist
  </form>

  <p>
    <a href="file:///C:/Users/Apurva/Desktop/MusicApi/countryArtist.html">Click Here for Searching Artist by Country</a>
  </p>

  <div ng-switch="artist2">
    <div ng-switch-when="topAlbums">
      <h2>
        <ul> Top Albums : </ul>
      </h2>
      <li ng-repeat="x in topAlbumsList track by $index"> {{x}}</li>
    </div>
  </div>

  <div ng-switch="artist2">
    <div ng-switch-when="topTracks">
      <h2>
        <ul> Top Tracks : </ul>
      </h2>
      <li ng-repeat="y in topTracksList track by $index"> {{y}}</li>
    </div>
  </div>

  <div ng-switch="artist2">
    <div ng-switch-when="Info">
      <h2>
        Artist Information :
      </h2>
      <h3 style="color:black">{{information}}</h3>
    </div>
  </div>

  <div ng-switch="artist2">
    <div ng-switch-when="similarArtist">
      <h2>
        <ul> Similar Artist : </ul>
      </h2>
      <li ng-repeat="a in similarArtistList track by $index"> {{a}}</li>
    </div>
  </div>

  <script>
    (function () {
      var app = angular.module("music", []);
      var ArtistSearch = function ($scope, $http, $rootScope) {
        $scope.topAlbumsList = [];
        $scope.topTracksList = [];
        $scope.similarArtistList = [];

        var error = function (reason) {
          $scope.error = "could not fetch artist";
        }

        var topTracks = function (response) {
          $scope.topTracksList = [];
          for (var i = 0; i < response.data.toptracks.track.length; i++) {
            $scope.topTracksList.push(response.data.toptracks.track[i].name);
          }
        }

        var topAlbums = function (response) {
          $scope.topAlbumsList = [];
          for (var i = 0; i < response.data.topalbums.album.length; i++) {
            $scope.topAlbumsList.push(response.data.topalbums.album[i].name);
          }
        }

        var artistInformation = function (response) {
          $scope.information = response.data.artist.bio.content;
        }

        var similarArtist = function (response) {
          $scope.similarArtistList = [];
          for (var i = 0; i < response.data.similarartists.artist.length; i++) {
            $scope.similarArtistList.push(response.data.similarartists.artist[i].name);
          }
        }


        var artistCall = function (response) {
          $rootScope.artist1 = response.data.results.artistmatches.artist[0];
        };

        $scope.search = function (artist) {
          $http.get("http://ws.audioscrobbler.com/2.0/?method=artist.search&artist=" + artist + "&api_key=befc5158ec18d0cf19251a8db4bf7100&format=json").then(artistCall, error);
          $http.get("http://ws.audioscrobbler.com/2.0/?method=artist.gettoptracks&artist=" + artist + "&api_key=befc5158ec18d0cf19251a8db4bf7100&format=json").then(topTracks, error);
          $http.get("http://ws.audioscrobbler.com/2.0/?method=artist.gettopalbums&artist=" + artist + "&api_key=befc5158ec18d0cf19251a8db4bf7100&format=json").then(topAlbums, error);
          $http.get("http://ws.audioscrobbler.com/2.0/?method=artist.getinfo&artist=" + artist + "&api_key=befc5158ec18d0cf19251a8db4bf7100&format=json").then(artistInformation, error);
          $http.get("http://ws.audioscrobbler.com/2.0/?method=artist.getsimilar&artist=" + artist + "&api_key=befc5158ec18d0cf19251a8db4bf7100&format=json").then(similarArtist, error);
        };

        $scope.message = "Review Information About Your Fav. Artist";
      }
      app.controller("ArtistSearch", ArtistSearch);
    }
      ());
  </script>

</body>

</html>